﻿@model SoCharity.App.Models.Topic

<div id="@Model.Id" class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
        <article role="article">
            <header class="panel panel-title">
                <span class="col-md-offset-8">
                    <a href="@Url.Action(TopicsControllerAction.Edit, new { id = Model.Id })" class="btn btn-link">
                        <span class="fa fa-pencil"></span> Edit
                    </a>
                    <a href="@Url.Action(TopicsControllerAction.Delete, new { id = Model.Id })" class="btn btn-link">
                        <span class="fa fa-eraser"></span> Delete</a>
                </span>
                <h3>
                    <span aria-hidden="true" class="fa fa-archive"></span> @Model.Caption
                </h3>
            </header>
            <h4 class="panel-body">
                @Model.Message
            </h4>
            <footer class="panel-footer">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="pointer" onclick="fbPagePostShare('@Model.Id', '@Model.FacebookUrl')">
                        <span class="fa fa-facebook-square"></span> share page post
                    </a>
                    <span>|</span>
                    <a class="pointer" onclick="fbWebsitePostShare('@Model.Id', '@Url.Action(TopicsControllerAction.Edit, ControllerName.Topics, new { id = Model.Id }, Request.Url.Scheme)')">
                        <span class="fa fa-facebook-square"></span> share web post
                    </a>
                    <span>|</span>
                    <a class="pointer" onclick="fbFeedPostShare('@Model.Id', '@Url.Action(TopicsControllerAction.Edit, ControllerName.Topics, new { id = Model.Id }, Request.Url.Scheme)', '@Model.Caption')">
                        <span class="fa fa-facebook-square"></span> share to feed
                    </a>
                    <span>|</span>
                    <a class="pointer" href="@Model.Url">
                        <span class="fa fa-anchor"></span> source
                    </a>
                }
                else
                {
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    <span> or </span>
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    <span> to share</span>
                }
                <span class="pull-right">@Model.Created.ToString("ddd d-MMM-yy, HH:mm")</span>
            </footer>
            <br />
        </article>
    </div>
</div>
