﻿@model IEnumerable<SoCharity.App.Models.Topic>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: @(Html.IsDebug() ? "759296450842772" : "755369757902108"),
            xfbml: true,
            version: "v2.5"
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "facebook-jssdk"));

    function fbPagePostShare(topicId, fbUrl) {
        FB.ui({
            method: "share",
            href: fbUrl
        }, function (response) {
            if (response.post_id) {
                postFbShareSuccess(topicId, response.post_id);
            } else {
                alert("unable to track share post");
            }
        });
    }

    function fbWebsitePostShare(topicId, url) {
        FB.ui({
            method: "share",
            href: url
        }, function (response) {
            if (response.post_id) {
                postFbShareSuccess(topicId, response.post_id);
            } else {
                alert("unable to track share post");
            }
        });
    }

    function fbFeedPostShare(topicId, link, caption) {
        FB.ui({
            method: "feed",
            link: link,
            caption: caption
        }, function (reponse) {
            if (response.post_id) {
                postFbShareSuccess(topicId, response.post_id);
            } else {
                alert("unable to track share post");
            }
        });
    }

    function postFbShareSuccess(topicId, postId) {
        var data = { TopicId: topicId, FbPostId: postId };
        $.ajax({
            type: "POST",
            url: "@Url.Action(TopicsControllerAction.Contribute)",
            data: data,
            success: function () {
                alert("sharing success");
            }
        });
    }
</script>
<div class="col-md-1 col-md-offset-7">
    <a href="@Url.RouteUrl(TopicsControllerRoute.GetCreate)" class="btn btn-link">
        <h4>
            <span class="fa fa-plus"></span> Create new
        </h4>
    </a>
</div>
<div id="topicList">
    @foreach (var t in Model)
    {
        @Html.Partial("_topicDetail", t)
    }
</div>
