﻿@model SoCharity.App.Models.CabinetIndexViewModel
@{
    ViewBag.Title = "Cabinet";
}

<h2>Cabinet</h2>

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        @Html.LabelFor(x => x.User.Email)
        @Html.DisplayFor(x => x.User.Email)
    </div>
</div>
<br />
<div class="row">
    @foreach (var ch in Model.Charities)
    {
        <div class="col-md-offset-4">
            <div class="row">
                @Html.LabelFor(x => ch.Created)
                @Html.DisplayFor(x => ch.Created)
            </div>
            <div class="row">
                @Html.LabelFor(x => ch.FbPostId)
                <a href="https://www.facebook.com/@ch.FbPostId">facebook</a>
            </div>
            <div class="row">
                @Html.LabelFor(x => ch.Topic.Caption)
                @Html.DisplayFor(x => ch.Topic.Caption)
            </div>
            <div class="row">
                @Html.LabelFor(x => ch.Topic.Message)
                @Html.DisplayFor(x => ch.Topic.Message)
            </div>
            <div class="row">
                @Html.LabelFor(x => ch.Topic.Url)
                @Html.DisplayFor(x => ch.Topic.Url)
            </div>
            <div class="row">
                <a href="@Url.Action(TopicsControllerAction.Edit, ControllerName.Topics, new { id = ch.TopicId })">topic</a>
            </div>
        </div>
        <hr />
    }
</div>
