﻿@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70 
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Topics you can share among friends - socharity.org";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Here is the place you can find latest topics to share among friends! Doing so you're helping some one to get today's meal or helping another one to pack his kid's school bag. At no cost for you! Make valuable your online-being!";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "socharity.org people";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page 
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@socharity");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<header>
    <h1>@ViewBag.Title</h1>
    <p class="lead">@ViewBag.Description</p>
</header>