﻿body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges. */
.body-content {
  padding-right: 15px;
  padding-left: 15px;
}
/* Allow only vertical resizing of textareas. */
textarea {
  resize: vertical;
}
.pointer {
  cursor: pointer;
}