﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="nav navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                <a href="@Url.RouteUrl(CabinetControllerRoute.GetIndex)"><span aria-hidden="true" class="fa fa-user-md"></span> Cabinet</a>
            </li>
            <li>
                @Html.ActionLink("Log off", "LogOff", "Account")
            </li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

